{
    "globals": {
        "after": false,
        "afterEach": false,
        "before": false,
        "beforeEach": false,
        "console": false,
        "describe": false,
        "expect": false,
        "it": false
    },
    "rules": {
        "no-unused-vars": 0
    }
}
